	*{
		font-family:Arial;
		color: #6E6E6E;
		padding:0px;
		margin:0px;
		font-size: 12px;
	}
	li{
		list-style-type:none;
	}
	input,textarea,select{
		margin: 0px 3px;
	}
	#title{
	    width:200px;
		overflow:hidden;
		float:left;
	}
	h1{
		color:white;
		padding:10px;
		font-size:24px;
	}
	body{
		background-color:#DDDDDD;
	}
	.view{
	    float:left;
		clear:left;
		width:100%;
	}
	#mainCon{
	    background-color: white;
		padding-bottom:15px;
		border-bottom: #AAAAAA 3px solid;
	}
	#menu{
	    background-color: #5E5E5E;
	}
	#menu ul{
	    padding-top:28px;
	}
	.menu ul{
		float:left;
		font-weight:bold;
		position: relative;
		bottom:0px;
	}
	#menu ul li{
		padding:7px 10px;
	}
	.menu ul li{
		float:left;
		clear:none;
		color:white;
	    cursor: pointer; 
	}
	.menu ul li.selected{
	    background-color:white;
		color:#6E6E6E;
	}
	.contentTb{
		width:100%;
		display:none;
	}
	h4{
	    margin:10px 0 5px 0;
	}
	.textTd{
	    width:200px;
	}
	.block{
	    width:100%;
		height:600px;
	}
	table{
	    width:100%;
	}
	thead{
		font-weight:bold;
	}
	.fieldName{
		width:100px;
	}
	#flatFilFormatContent textarea{
	    width:200px;
		height:100%;
		text-decoration: underline;
		word-break:break-all;
		overflow:hidden;
	}
	#umsMailHelper textarea{
		width:100%;
		height:400px;
	}
	#umsMailHelper .htmlDis{
		width:48%;
	}
	textarea,input,select{	
		border:#8C8C8C 1px solid;
	}
	.keep{
	}
	.keep input{
		border:0;
	}
	.buttonRow{
	    width:20px;
	}
	.button{
	    width:90%;
		margin-left:5%;
		font-weight:bold;
		color:#8C8C8C;
		border:#8C8C8C 1px solid;
		background:white;
	}
	#templete{
	    display:none;
	}
	#ruleName{
	}
	.discription{
	    font-size:10px;
		float: right;
		width:0%;
		display:none;
	}
	#ruleTbody input{
	    width:100%;
	}
	.clickable{
	    cursor: pointer; 
	}
	.error{
	    color:red;
		font-size: 12px;
	}
	.warning{
	    color:orange;
	}
	.fieldName,.value{
	    width:35%;
	}
	.startPos,.endPos{
	    width:15%;
	}
	#hideFormat{
	    display:none;
	}
	.hide{
	    display:none;
	}
	#footer{
	    padding:5px 0;
	}
	#footer table{
	    text-align: center;
		font-size:10px;
	}
	#footer td{
		color: #6E6E6E;
	}
	.example{
	    display:none;
	}
	#autoDataPrepare{
	    margin-top:20px;
		width:100%;
	}
	#autoRole{
		float:left;
		width:97%;
		margin: 10px 1%;
	}
	.autoRoleHeader div{
		width:200px;
		display:block;
	}
	#autoRole table{

		text-align: left;
	}
	#autoRole input{
	    width:90px;
	}
	#autoRole select{
	    width:90px;
	}
	#autoRole .con{
		text-align:right;
		height:20px;
	}
	#autoRole td{
		height:23px;
		valign:top;
	}
	#autoRoleCon{
		overflow-x: auto;
		overflow-y: visible;
	}
	#autoRoleCon table{
		width:0;
	}
	.emptyNotice{
		color:gray;
	}
	.autoRoleHeader{
		width:0;
	}
	.note{
		font-size:8px;
		margin:0 auto;
		background-color: rgba( 255, 229, 56, .2 );
	}
	.autoRoleCon div{
		width:92px;
	}
	#parseResult{
	    margin-top:10px;
		margin:0px;
	}
	#parseResult ul{
	    width: 100%;
	}
	#parseResult ul.menu{
		border-left: 1px solid gray;
	}
	#parseResult .menu li {
		background-color: #EEEEEE;
		border: 1px solid gray;
		border-width: 1px 1px 1px 0;
		padding:0px 5px;
		margin-bottom: -1px;
	}
	#parseResult li.selected{
	    background-color: white;
	}
	#parseResult .content{
	    clear:left;
		float:left;
	}
	#parseResult .sqlBlock{
		display:none;
	}
	#parseResult .content li{
	    width:100%;
	}
	#parseResult .content li textarea{
	    width:100%;
		overflow:display;
		padding:0px;
		margin: 0px;
		height:300px;
	}
	.menu li.selected .corner{
		color:red;
	}
	.menu li  span{
		clear:none;
		float:left;
		margin:2px;
	}

	.menu li .close {
		float: right;
		font-size: 9px;
		font-weight: normal;
		height: 5px;
		margin: 0 0 0 5px;
		width: 5px;
	}
	.menu li .corner {
		color: gray;
		padding: 0 3px;
	}